footer {
	.es-block-forms {
		.es-form {
			.es-form__fields {
				flex-wrap: nowrap;
				
				.es-field {
					padding-inline: unset;
					margin-block-end: unset;
					flex: auto;
					padding-right: 1rem;
					
					.es-submit {
						background-color: var(--wp--preset--color--primary);
						max-width: 7rem;
						display: flex;
						justify-content: center;
					}
				}
				
				.es-field.es-field--input {
					max-width: 23rem;
					min-width: 16rem;
					
					.es-input {
						border: solid;
						border-radius: 8px;
						border-width: 3px;
						border-color: var(--wp--preset--color--primary);
						background-color: white;
						height: 3rem;
						max-width: 27rem;
					}
				}
			}
		}
	}
	.social-networks__link[title="Facebook"] {
		content: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 12.6138C22 7.05724 17.5229 2.55273 12 2.55273C6.47715 2.55273 2 7.05724 2 12.6138C2 17.6355 5.65684 21.7979 10.4375 22.5527V15.5221H7.89844V12.6138H10.4375V10.3973C10.4375 7.87569 11.9305 6.48285 14.2146 6.48285C15.3088 6.48285 16.4531 6.67936 16.4531 6.67936V9.15534H15.1922C13.95 9.15534 13.5625 9.93095 13.5625 10.7266V12.6138H16.3359L15.8926 15.5221H13.5625V22.5527C18.3432 21.7979 22 17.6357 22 12.6138Z" fill="white"/></svg>');
		
		svg {
			display: none;
		}
	}
	.social-networks__link[title="Instagram"] {
		content: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 3.55273H8C5.23858 3.55273 3 5.79131 3 8.55273V16.5527C3 19.3141 5.23858 21.5527 8 21.5527H16C18.7614 21.5527 21 19.3141 21 16.5527V8.55273C21 5.79131 18.7614 3.55273 16 3.55273ZM19.25 16.5527C19.2445 18.3453 17.7926 19.7972 16 19.8027H8C6.20735 19.7972 4.75549 18.3453 4.75 16.5527V8.55273C4.75549 6.76008 6.20735 5.30822 8 5.30273H16C17.7926 5.30822 19.2445 6.76008 19.25 8.55273V16.5527ZM16.75 8.80273C17.3023 8.80273 17.75 8.35501 17.75 7.80273C17.75 7.25045 17.3023 6.80273 16.75 6.80273C16.1977 6.80273 15.75 7.25045 15.75 7.80273C15.75 8.35501 16.1977 8.80273 16.75 8.80273ZM12 8.05273C9.51472 8.05273 7.5 10.0675 7.5 12.5527C7.5 15.038 9.51472 17.0527 12 17.0527C14.4853 17.0527 16.5 15.038 16.5 12.5527C16.5027 11.3584 16.0294 10.2123 15.1849 9.36781C14.3404 8.52332 13.1943 8.05007 12 8.05273ZM9.25 12.5527C9.25 14.0715 10.4812 15.3027 12 15.3027C13.5188 15.3027 14.75 14.0715 14.75 12.5527C14.75 11.0339 13.5188 9.80273 12 9.80273C10.4812 9.80273 9.25 11.0339 9.25 12.5527Z" fill="white"/></svg>');
		
		svg {
			display: none;
		}
	}
	.social-networks__link[title="Twitter"] {
		content: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1761 4.55273H19.9362L13.9061 11.3301L21 20.5527H15.4456L11.0951 14.9593L6.11723 20.5527H3.35544L9.80517 13.3035L3 4.55273H8.69545L12.6279 9.66535L17.1761 4.55273ZM16.2073 18.9281H17.7368L7.86441 6.09201H6.2232L16.2073 18.9281Z" fill="white"/></svg>');
		
		svg {
			display: none;
		}
	}
	.social-networks__link[title="LinkedIn"] {
		content: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 3.55273C3.67157 3.55273 3 4.2243 3 5.05273V20.0527C3 20.8811 3.67157 21.5527 4.5 21.5527H19.5C20.3284 21.5527 21 20.8811 21 20.0527V5.05273C21 4.2243 20.3284 3.55273 19.5 3.55273H4.5ZM8.52076 7.55545C8.52639 8.5117 7.81061 9.10092 6.96123 9.0967C6.16107 9.09248 5.46357 8.45545 5.46779 7.55686C5.47201 6.7117 6.13998 6.03248 7.00764 6.05217C7.88795 6.07186 8.52639 6.71733 8.52076 7.55545ZM12.2797 10.3145H9.75971H9.7583V18.8743H12.4217V18.6746C12.4217 18.2947 12.4214 17.9147 12.4211 17.5346C12.4203 16.5208 12.4194 15.5059 12.4246 14.4924C12.426 14.2463 12.4372 13.9904 12.5005 13.7555C12.7381 12.878 13.5271 12.3113 14.4074 12.4506C14.9727 12.5391 15.3467 12.8668 15.5042 13.3998C15.6013 13.733 15.6449 14.0916 15.6491 14.439C15.6605 15.4866 15.6589 16.5342 15.6573 17.5819C15.6567 17.9517 15.6561 18.3217 15.6561 18.6915V18.8729H18.328V18.6676C18.328 18.2156 18.3278 17.7637 18.3275 17.3118C18.327 16.1823 18.3264 15.0528 18.3294 13.9229C18.3308 13.4124 18.276 12.909 18.1508 12.4154C17.9638 11.6813 17.5771 11.0738 16.9485 10.6351C16.5027 10.3229 16.0133 10.1218 15.4663 10.0993C15.404 10.0967 15.3412 10.0934 15.2781 10.0899C14.9984 10.0748 14.7141 10.0595 14.4467 10.1134C13.6817 10.2667 13.0096 10.6168 12.5019 11.2341C12.4429 11.3049 12.3852 11.3768 12.2991 11.4841L12.2797 11.5084V10.3145ZM5.68164 18.8771H8.33242V10.3201H5.68164V18.8771Z" fill="white"/></svg>');
		
		svg {
			display: none;
		}
	}
	.social-networks__link[title="YouTube"] {
		content: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.593 7.51307C21.4791 7.09047 21.2565 6.70507 20.9474 6.39523C20.6382 6.0854 20.2533 5.86193 19.831 5.74707C18.265 5.31707 12 5.31007 12 5.31007C12 5.31007 5.73599 5.30307 4.16899 5.71407C3.74692 5.83421 3.36282 6.06084 3.05356 6.3722C2.7443 6.68356 2.52028 7.06919 2.40299 7.49207C1.98999 9.05807 1.98599 12.3061 1.98599 12.3061C1.98599 12.3061 1.98199 15.5701 2.39199 17.1201C2.62199 17.9771 3.29699 18.6541 4.15499 18.8851C5.73699 19.3151 11.985 19.3221 11.985 19.3221C11.985 19.3221 18.25 19.3291 19.816 18.9191C20.2385 18.8044 20.6237 18.5815 20.9336 18.2722C21.2436 17.963 21.4674 17.5783 21.583 17.1561C21.997 15.5911 22 12.3441 22 12.3441C22 12.3441 22.02 9.07907 21.593 7.51307ZM9.99599 15.3151L10.001 9.31507L15.208 12.3201L9.99599 15.3151Z" fill="white"/></svg>');
		
		svg {
			display: none;
		}
	}
}

@media (max-width: 480px) {
	footer {
		.es-block-forms {
			.es-form {
				.es-form__fields {
					flex-wrap: wrap;
				}
			}
		}
	}
}