.product-page-description-nutrition-cana-facts-pattern {
	display: flex;
	align-items: stretch;
	
	.product-page-description-pattern {
		width: 50%;
		
		.product-category-list-custom-category {
			font-weight: 700;
		}
		
		.product-category-list-custom-subcategory::marker {
			color: black;
		}
		
		.product-page-other-ingredients-pattern {
			display: flex;
			align-items: baseline;
			
			p {
				padding-right: 8px;
			}
			
			.wp-block-mfb-meta-field-block > div {
				text-transform: capitalize;
			}
		}
	}
	
	.product-page-nutrition-cana-facts-pattern {
		width: 50%;
		background-color: rgb(65 115 96 / 75%);
		
		.product-page-nutrition-facts-pattern, .product-page-cana-facts-pattern {
			width: 100%;
				
			.product-category-list-custom-nutrition-facts:first-of-type, .product-category-list-custom-list:first-of-type {
				border-width: 1px 0px 1px 0px;
			}
			
			.product-category-list-custom-nutrition-facts, .product-category-list-custom-list {
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 4px 0 4px 0;
				border-style: solid;
				border-color: white;
				border-width: 0px 0px 1px 0px;
				text-transform: none;
				font-weight: normal;
			}
		}
	}
}
