.wc-block-product {
	.wc-block-components-product-button {
		.wc-block-components-product-button__button.add_to_cart_button {
			width: 100%;
			border: solid;
			border-radius: 12px;
			border-width: 3px;
			border-color: var(--wp--preset--color--primary);
			background-color: rgba(65, 115, 96, 75%);
			
			span {
				color: white;
				text-transform: uppercase;
				font-family: Poppins;
				font-weight: bold;
			}
		}
	}
}